/*NAV BAR*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f3f0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #491407;
    padding: 10px 20px;
    z-index: 10000;  
}

.navbar-left {
    display: flex;
    align-items: center;
    
}
.navbar-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-bar {
    width: 300px;
    padding: 8px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

#search-button {
    padding: 10px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#search-button:hover {
    background-color: #777;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 80%;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 80%;
}

.logo span {
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    
}
.logo a{
    font-size: 20px;
    font-weight: bold;
    color: rgba(252, 252, 252, 0.849);
}

.navbar-right {
    display: flex;
    align-items: center;
}

.icon {
    color: rgb(255, 255, 255);
    margin-left: 20px;
}

.icon img {
    width: 24px;
    height: 24px;
    filter: invert(100%);
    cursor: pointer;
    color: #ffffff;
    margin: 2px;
    align-items: center;
}

.icon:hover img {
    filter: invert(80%);
    
}
.section ul{
    display:flex;
    justify-content:space-around;
    list-style:none;
    align-items: center;
    padding: 10px;
    background-color: #f4f3f0;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    color: black;
    margin-top: 2px;
    text-decoration: none;
}
.section ul li a {
    text-decoration: none;
    color: black; /* Cor do link */
}
.section ul li :hover{
  transform: translateY(0,3);
  color: #555;
  transition:  all;
}

/*NAV BAR*/
/*estilização do banner*/


/* Estilo do carrossel */
.carrossel {
    width: 1200px; /* Define a largura fixa do carrossel em 1200px */
    height: 400px; /* Define a altura fixa do carrossel em 400px */
    overflow: hidden; /* Oculta qualquer conteúdo que ultrapasse a área do carrossel */
    position: relative; /* Permite o uso de posicionamento dentro do carrossel */
    margin-left: 70px; /* Aplica uma margem à esquerda do carrossel */
    margin-top: 10px; /* Aplica uma margem no topo do carrossel */
}

/* Estilo dos banners dentro do carrossel */
.banners {
    display: flex; /* Utiliza o modelo de layout flexbox para organizar os banners horizontalmente */
    transition: transform 0.5s ease; /* Aplica uma transição suave de 0.5s para o movimento dos banners */
    width: 300%; /* Define a largura do contêiner dos banners como 3 vezes a largura do carrossel (para 3 banners) */
}

/* Estilo de cada banner */
.banner {
    width: 33.333%; /* Cada banner ocupa 1/3 da largura do contêiner .banners, já que são 3 banners */
    height: 400px; /* Define a altura de cada banner como 400px */
    background-size: cover; /* Ajusta as imagens de fundo para cobrir todo o espaço do banner, mantendo a proporção */
    background-position: center; /* Centraliza o conteúdo da imagem dentro do banner */
    flex-shrink: 0; /* Impede que os banners encolham se o tamanho do contêiner mudar */
}



/*layout principal*/
.container{
    display: flex;
}

/*Estilização de menu filtros*/
.filtros{
    border-radius: 10px;
    width: 200px;
    height: 260px;
    padding: 20px;
    border: 1px solid black ;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-left: 30px;
    margin-right: 0px;
    margin-top: 30px;
}

.filtros h3{
    font-size: 20px;
    margin-top: 0;
}

.filtros ul{
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
}

.filtros li{
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: normal;
}

.filtros li:hover{
    color: #d32f2f;
}
/* Flexbox para organizar os produtos em várias linhas */
.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
    padding: 20px;
}

.produto {
    width: 250px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f4f3f0;
    border-radius: 8px;
}
.produto:hover{
    scale: (1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.produtos .detalhes{
    padding: 10px;
}

.produtos .nome{
    font-weight: bold;
}

.produto .descricao{
    color: #555;
    font-size: 0.9em;

}

.preco{
    color: #d32f2f;
    font-size: 1.2em;
    margin-top: 10px;
}